
.services-area {

    .service-heading {
        margin: 0 100px;
        border-radius: 25px;
        position: relative;
        overflow: hidden;

        @media #{$laptop} {
            margin: 0 80px;
        }
        @media #{$lg} {
            margin: 0 70px;
        }
        @media #{$md} {
            margin: 0px;
            border-radius: 0px;
        }
        @media #{$xs} {
            margin: 0px;
            border-radius: 0px;
        }
    }

    .services-wrapper {
        margin-top: -170px;
        position: relative;
        z-index: 9;

        .single-service {
            padding: 45px 35px;
            border-radius: 10px;
            background: $white;
            @include box-shadow(0px 3px 15px rgba(8, 152, 231, 0.15));
            @include transition(.3s);
            margin-bottom: 30px;

            .service-img {
                margin-bottom: 20px;

                img {
                    margin: auto;
                }
            }

            .service-content {

                h4 {
                    margin-bottom: 20px;
                    @include transition(.3s);
                }

                p {
                    @include transition(.3s);
                }
            }

            &:hover {
                background:$theme-color;

                .service-content {
                    h4, p {
                        color: $white;
                    }
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            left: -12px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            border-radius: 50%;
            background: $white;
            cursor: pointer;
            z-index: 11;
            margin-top: -15px;
            @include transform(translateY(-50%));
            @include transition(.3s);

            &:hover {
                background: $theme-color;
                color: $white;
                border-color: $theme-color;
            }

            &.lni-chevron-right {
                right: -12px;
                left: auto;
            }
        }
    }
}