/*===========================
     01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #656565;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #656565;
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.bg_cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(29, 42, 57, 0.56);
  z-index: -1;
  width: 100%;
  height: 100%;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
}

.main-btn:hover {
  color: #fff;
  background-position: right center;
}

.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #53C3EB;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.back-to-top:hover {
  color: #fff;
  opacity: .8;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #53C3EB;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .section-title .sub-title {
    font-size: 16px;
  }
}

.section-title .title {
  font-size: 32px;
  padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title .title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 24px;
  }
}

.section-title .title span {
  font-weight: 400;
  display: contents;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #53C3EB #53C3EB #E1E1E1;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #E1E1E1;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #E1E1E1;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.header-area {
  position: relative;
  width: 100%;
}

.navbar-area {
  margin: 0 85px;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #fff;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar-area {
    margin: 0 65px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-area {
    margin: 0 55px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area {
    margin: 0 35px;
  }
}

@media (max-width: 767px) {
  .navbar-area {
    margin: 0 10px;
  }
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 0;
}

.navbar {
  padding: 5px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar img {
  width: 40%;
}

.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #2E2E2E;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item a {
  font-size: 17px;
  font-weight: 400;
  color: #656565;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  font-family: "Lato", sans-serif;
  border: 1px solid transparent;
  border-radius: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item a {
    padding: 8px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #2E2E2E;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
    color: #2E2E2E;
  }
}

.navbar-nav .nav-item.active > a, .navbar-nav .nav-item:hover > a {
  border-color: #53C3EB;
  background: rgba(83, 195, 235, 0.07);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item.active > a, .navbar-nav .nav-item:hover > a {
    border-color: transparent;
    background: none;
    color: #53C3EB;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item.active > a, .navbar-nav .nav-item:hover > a {
    border-color: transparent;
    background: none;
    color: #53C3EB;
  }
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #2E2E2E;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #53C3EB;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #2E2E2E;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #2E2E2E;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.sticky .navbar-toggler .toggler-icon {
  background-color: #2E2E2E;
}

.sticky .navbar-nav .nav-item a {
  color: #2E2E2E;
}

.sticky .navbar-nav .nav-item.active > a, .sticky .navbar-nav .nav-item:hover > a {
  color: #53C3EB;
}

.hero-area {
  margin: 0 100px;
  position: relative;
  border-radius: 25px;
  z-index: 1;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area {
    margin: 0 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area {
    margin: 0 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    margin: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .hero-area {
    margin: 0px;
    border-radius: 0px;
  }
}

.hero-area .hero-content {
  padding: 290px 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-content {
    padding: 240px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content {
    padding: 180px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    padding: 150px 0;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content {
    padding: 150px 0;
  }
}

.hero-area .hero-content h2 {
  font-size: 65px;
  line-height: 75px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-content h2 {
    font-size: 58px;
    line-height: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content h2 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content h2 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .hero-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.hero-area .hero-content .form-wrapper {
  max-width: 625px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}

.hero-area .hero-content .form-wrapper form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero-area .hero-content .form-wrapper form input, .hero-area .hero-content .form-wrapper form select {
  border: none;
  background: none;
  color: #656565;
  padding: 0 35px;
  margin: 15px 0;
  width: 33%;
}

@media (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form input, .hero-area .hero-content .form-wrapper form select {
    width: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form input, .hero-area .hero-content .form-wrapper form select {
    width: 33%;
  }
}

.hero-area .hero-content .form-wrapper form input {
  border-right: 1px solid #E1E1E1;
}

.hero-area .hero-content .form-wrapper form button {
  border: none;
  padding: 17px 35px;
  background: #53C3EB;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form button {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-area .hero-content .form-wrapper form button {
    width: auto;
  }
}

.hero-area .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-area .slick-dots li {
  margin: 0 8px;
}

.hero-area .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.39);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.hero-area .slick-dots li.slick-active button {
  background: #fff;
}

@media (max-width: 767px) {
  .client-logo-area {
    padding-top: 80px;
  }
}

.client-logo-area .single-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .56;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.client-logo-area .single-logo:hover {
  opacity: 1;
}

.about-area {
  position: relative;
  z-index: 1;
}

.about-area .shape {
  position: absolute;
  z-index: -1;
}

.about-area .shape.shape-1 {
  bottom: 230px;
  left: 150px;
}

.about-area .shape.shape-2 {
  top: 90px;
  left: 20%;
}

.about-area .shape.shape-3 {
  right: 120px;
  top: 10px;
}

.about-area .shape.shape-4 {
  top: 180px;
  right: 30%;
}

.about-area .shape.shape-5 {
  right: 100px;
  bottom: 240px;
}

.about-area .feature-wrapper {
  padding-top: 110px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-area .feature-wrapper {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .about-area .feature-wrapper {
    padding-top: 50px;
  }
}

.about-area .feature-wrapper .single-feature {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.about-area .feature-wrapper .single-feature .feature-bg {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.about-area .feature-wrapper .single-feature .feature-img {
  padding: 20px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  width: 136px;
  height: 136px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(8, 152, 231, 0.15);
  box-shadow: 0px 3px 15px rgba(8, 152, 231, 0.15);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.about-area .feature-wrapper .single-feature .feature-content {
  text-align: center;
}

.about-area .feature-wrapper .single-feature .feature-content h4 a {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.about-area .feature-wrapper .single-feature .feature-content h4 a:hover {
  color: #53C3EB;
}

.about-area .feature-wrapper .single-feature.active {
  margin-top: -60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-area .feature-wrapper .single-feature.active {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .about-area .feature-wrapper .single-feature.active {
    margin-top: 0;
  }
}

.about-area .feature-wrapper .single-feature.active .feature-bg, .about-area .feature-wrapper .single-feature:hover .feature-bg {
  opacity: 1;
  visibility: visible;
}

.about-area .feature-wrapper .single-feature.active .feature-img, .about-area .feature-wrapper .single-feature:hover .feature-img {
  background: #53C3EB;
}

.services-area .service-heading {
  margin: 0 100px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .services-area .service-heading {
    margin: 0 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .services-area .service-heading {
    margin: 0 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-area .service-heading {
    margin: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .services-area .service-heading {
    margin: 0px;
    border-radius: 0px;
  }
}

.services-area .services-wrapper {
  margin-top: -170px;
  position: relative;
  z-index: 9;
}

.services-area .services-wrapper .single-service {
  padding: 45px 35px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(8, 152, 231, 0.15);
  box-shadow: 0px 3px 15px rgba(8, 152, 231, 0.15);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 30px;
}

.services-area .services-wrapper .single-service .service-img {
  margin-bottom: 20px;
}

.services-area .services-wrapper .single-service .service-img img {
  margin: auto;
}

.services-area .services-wrapper .single-service .service-content h4 {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.services-area .services-wrapper .single-service .service-content p {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.services-area .services-wrapper .single-service:hover {
  background: #53C3EB;
}

.services-area .services-wrapper .single-service:hover .service-content h4, .services-area .services-wrapper .single-service:hover .service-content p {
  color: #fff;
}

.services-area .services-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  left: -12px;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E1E1E1;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 11;
  margin-top: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.services-area .services-wrapper .slick-arrow:hover {
  background: #53C3EB;
  color: #fff;
  border-color: #53C3EB;
}

.services-area .services-wrapper .slick-arrow.lni-chevron-right {
  right: -12px;
  left: auto;
}

.package-area {
  position: relative;
  z-index: 1;
}

.package-area .shape {
  position: absolute;
  z-index: -1;
}

.package-area .shape.shape-1 {
  top: 150px;
  left: 190px;
}

.package-area .shape.shape-2 {
  bottom: 220px;
  left: 35px;
}

.package-area .shape.shape-3 {
  bottom: 130px;
  left: 320px;
}

.package-area .shape.shape-4 {
  top: 320px;
  left: 430px;
}

.package-area .shape.shape-5 {
  top: 220px;
  right: 380px;
}

.package-area .shape.shape-6 {
  top: 40px;
  right: 175px;
}

.package-area .shape.shape-7 {
  bottom: 150px;
  right: -150px;
}

.package-area .section-title h2 span {
  display: block;
  color: #53C3EB;
}

.package-area .package-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .package-area .package-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .package-area .package-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.package-area .package-wrapper .single-package {
  border-radius: 10px;
  background: #fff;
  padding: 35px 65px;
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 16px rgba(8, 152, 231, 0.15);
  box-shadow: 0px 0px 16px rgba(8, 152, 231, 0.15);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .package-area .package-wrapper .single-package {
    padding: 35px 38px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .package-area .package-wrapper .single-package {
    padding: 35px 38px;
    max-width: 380px;
  }
}

@media (max-width: 767px) {
  .package-area .package-wrapper .single-package {
    padding: 35px;
    max-width: 380px;
  }
}

.package-area .package-wrapper .single-package .package-name h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.package-area .package-wrapper .single-package .package-price h2 {
  font-size: 40px;
  font-weight: 600;
  color: #53C3EB;
  margin-bottom: 30px;
}

.package-area .package-wrapper .single-package .package-details {
  margin-bottom: 30px;
}

.package-area .package-wrapper .single-package .package-details li {
  font-size: 16px;
  line-height: 36px;
  color: #656565;
}

.package-area .package-wrapper .single-package .package-details li.text-underline {
  text-decoration: underline;
  color: #53C3EB;
}

.package-area .package-wrapper .single-package .package-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #53C3EB;
  padding: 12px 60px;
  border-radius: 3px;
  border: 2px solid #53C3EB;
  background: rgba(83, 195, 235, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.package-area .package-wrapper .single-package .package-btn.active, .package-area .package-wrapper .single-package .package-btn:hover {
  background: #53C3EB;
  color: #fff;
}

.apps-area {
  background: url("../img/apps-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 100px 100px 0;
  border-radius: 25px;
  padding: 90px 0;
  text-align: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .apps-area {
    margin: 100px 80px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .apps-area {
    margin: 100px 70px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .apps-area {
    margin: 100px 0px 0px;
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .apps-area {
    margin: 100px 0px 0px;
    border-radius: 0px;
  }
}

.apps-area .apps-content h2 {
  color: #fff;
  margin-bottom: 25px;
}

.apps-area .apps-content p {
  color: #fff;
  margin-bottom: 40px;
}

.apps-area .apps-content .download-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apps-area .apps-content .download-btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(123, 123, 123, 0.16);
  box-shadow: 0px 3px 6px rgba(123, 123, 123, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin: 12px;
  color: #656565;
}

.apps-area .apps-content .download-btns a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #53C3EB;
}

.apps-area .apps-content .download-btns a span.icon {
  font-size: 24px;
  margin-right: 20px;
}

.apps-area .apps-content .download-btns a span.text {
  text-align: left;
  font-size: 10px;
}

.apps-area .apps-content .download-btns a span.text b {
  font-size: 16px;
  font-weight: 600;
  display: block;
}

.testimonial-area .single-testimonial {
  padding: 35px 38px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 16px rgba(8, 152, 231, 0.15);
  box-shadow: 0px 3px 16px rgba(8, 152, 231, 0.15);
  margin-top: 32px;
  margin-bottom: 60px;
  position: relative;
}

.testimonial-area .single-testimonial .testimonial-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #53C3EB;
  margin-top: -67px;
  margin-bottom: 30px;
}

.testimonial-area .single-testimonial .testimonial-img img {
  width: 100%;
}

.testimonial-area .single-testimonial .testimonial-author h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial-area .single-testimonial .testimonial-author p {
  margin-bottom: 20px;
}

.testimonial-area .single-testimonial .testimonial-quote {
  position: absolute;
  right: 38px;
  top: 43px;
  font-size: 50px;
  color: #656565;
}

.testimonial-area .slick-dots {
  position: absolute;
  bottom: -30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.testimonial-area .slick-dots li button {
  text-indent: -999999px;
  padding: 0;
  width: 12px;
  height: 12px;
  background: #53C3EB;
  border-radius: 10px;
  margin: 0 8px;
  border: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.testimonial-area .slick-dots li.slick-active button {
  width: 75px;
}

.footer-area {
  margin: 0 100px;
  border-radius: 25px 25px 0 0;
  background: url("../img/footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 115px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-area {
    margin: 0 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area {
    margin: 0 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area {
    margin: 0 30px;
  }
}

@media (max-width: 767px) {
  .footer-area {
    margin: 0px;
  }
}

.footer-area .footer-widget {
  color: #fff;
  line-height: 1.75;
  margin-bottom: 60px;
}

.footer-area .footer-widget h5 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.footer-area .footer-widget a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget a:hover {
  color: #53C3EB;
}

.footer-area .footer-widget form {
  position: relative;
  margin-bottom: 60px;
}

.footer-area .footer-widget form input {
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.78);
}

.footer-area .footer-widget form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.78);
}

.footer-area .footer-widget form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.78);
}

.footer-area .footer-widget form input::placeholder {
  color: rgba(255, 255, 255, 0.78);
}

.footer-area .footer-widget form input:focus {
  border-color: #53C3EB;
}

.footer-area .footer-widget form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 19px 28px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #53C3EB;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget form button:hover {
  opacity: .8;
}

.footer-area .footer-widget .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget .social-links {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-widget .social-links {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-widget .social-links {
    display: block;
  }
}

.footer-area .footer-widget .social-links h5 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget .social-links h5 {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-widget .social-links h5 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-widget .social-links h5 {
    margin-bottom: 40px;
  }
}

.footer-area .footer-widget .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-area .footer-widget .social-links ul li {
  margin-left: 20px;
}

.footer-area .footer-widget .social-links ul li:first-child {
  margin-left: 0px;
}

.footer-area .footer-widget .social-links ul li a {
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  color: #2E2E2E;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget .social-links ul li a:hover {
  background: #fff;
  color: #53C3EB;
}

.footer-area .copy-right {
  padding: 30px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.18);
}
/*# sourceMappingURL=style.css.map */